.spokesperson .field-label img {
    top: 13px;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
}

.spokesperson .field-label {
    position: relative;
    top: -2px;
    text-transform: capitalize;
}

.spokesperson input[type="checkbox"] {
    float: right;
    margin-top: 20px !important;
}

.title-field {
    margin-bottom: 15px;
}

.spokesperson h4 {
    margin: 0;
}